<!-- 头部文件 -->
<head>

    <meta charset="utf-8" />

    <title>会议室预定查询</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/bootstrap/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/bootstrap/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="/bootstrap/css/fullcalendar.css" rel="stylesheet" />

    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="/bootstrap/image/favicon.ico" />

</head>